@using TechReads.Library.Models
@model TechReads.Web.Models.ReviewFormModel;

<h2>Edit Review</h2>
<form asp-action="Edit">
</form>

@using(Html.BeginForm("Save", "Review", Model.Review, FormMethod.Post ))
{
    <h3>User: @Model.Reviewer.DisplayName</h3>

    <label>Book: @Model.Books.First(b => b.BookId == Model.Review.BookId).Title</label> <br />


    @Html.LabelFor(m => m.Review.Stars) @Html.TextBoxFor(m => m.Review.Stars) <br />
    @Html.LabelFor(m => m.Review.Comment) @Html.TextAreaFor(m => m.Review.Comment) <br />

    @Html.HiddenFor(m => m.Review.ReviewerId)
    @Html.HiddenFor(m => m.Review.ReviewId)
    @Html.HiddenFor(m => m.Review.BookId)

    <button type="submit">Save</button>
}